Repository tektoncd/pipeline, pull requests merged in 2024-04, with the labels that each got.

#7810 Fix the naming for Metrics as per convention
  docs/metrics.md
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Labels: kind/bug, approved, lgtm, size/L, release-note

#7831 Add description to StepActions
  docs/pipeline-api.md
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/stepaction_types.go
  pkg/apis/pipeline/v1alpha1/swagger.json
Labels: kind/feature, approved, lgtm, size/M, release-note

#7842 Update docker/docker to v26.0.0
  go.mod
  go.sum
  vendor/github.com/docker/docker/AUTHORS
  vendor/github.com/docker/docker/pkg/homedir/homedir.go
  vendor/github.com/docker/docker/pkg/homedir/homedir_others.go
  vendor/github.com/docker/docker/pkg/homedir/homedir_windows.go
  vendor/modules.txt
Labels: approved, lgtm, size/XS, release-note, kind/misc

#7780 Fix: add notes for why not to import the dependency pkg for OptimisticLockErrorMsg
  pkg/reconciler/taskrun/taskrun.go
Labels: approved, lgtm, size/XS, ok-to-test, release-note-none, kind/cleanup

#7750 chore(deps): Migrate to github.com/go-jose/go-jose/v3
  go.mod
  go.sum
  pkg/spire/test/ca.go
  vendor/github.com/go-jose/go-jose/v3/cryptosigner/cryptosigner.go
  vendor/gopkg.in/square/go-jose.v2/.gitcookies.sh.enc
  vendor/gopkg.in/square/go-jose.v2/.gitignore
  vendor/gopkg.in/square/go-jose.v2/.travis.yml
  vendor/gopkg.in/square/go-jose.v2/BUG-BOUNTY.md
  vendor/gopkg.in/square/go-jose.v2/CONTRIBUTING.md
  vendor/gopkg.in/square/go-jose.v2/LICENSE
  vendor/gopkg.in/square/go-jose.v2/README.md
  vendor/gopkg.in/square/go-jose.v2/asymmetric.go
  vendor/gopkg.in/square/go-jose.v2/cipher/cbc_hmac.go
  vendor/gopkg.in/square/go-jose.v2/cipher/concat_kdf.go
  vendor/gopkg.in/square/go-jose.v2/cipher/ecdh_es.go
  vendor/gopkg.in/square/go-jose.v2/cipher/key_wrap.go
  vendor/gopkg.in/square/go-jose.v2/crypter.go
  vendor/gopkg.in/square/go-jose.v2/doc.go
  vendor/gopkg.in/square/go-jose.v2/encoding.go
  vendor/gopkg.in/square/go-jose.v2/json/LICENSE
  vendor/gopkg.in/square/go-jose.v2/json/README.md
  vendor/gopkg.in/square/go-jose.v2/json/decode.go
  vendor/gopkg.in/square/go-jose.v2/json/encode.go
  vendor/gopkg.in/square/go-jose.v2/json/indent.go
  vendor/gopkg.in/square/go-jose.v2/json/scanner.go
  vendor/gopkg.in/square/go-jose.v2/json/stream.go
  vendor/gopkg.in/square/go-jose.v2/json/tags.go
  vendor/gopkg.in/square/go-jose.v2/jwe.go
  vendor/gopkg.in/square/go-jose.v2/jwk.go
  vendor/gopkg.in/square/go-jose.v2/jws.go
  vendor/gopkg.in/square/go-jose.v2/jwt/builder.go
  vendor/gopkg.in/square/go-jose.v2/jwt/claims.go
  vendor/gopkg.in/square/go-jose.v2/jwt/doc.go
  vendor/gopkg.in/square/go-jose.v2/jwt/errors.go
  vendor/gopkg.in/square/go-jose.v2/jwt/jwt.go
  vendor/gopkg.in/square/go-jose.v2/jwt/validation.go
  vendor/gopkg.in/square/go-jose.v2/opaque.go
  vendor/gopkg.in/square/go-jose.v2/shared.go
  vendor/gopkg.in/square/go-jose.v2/signing.go
  vendor/gopkg.in/square/go-jose.v2/symmetric.go
  vendor/modules.txt
Labels: approved, lgtm, size/XS, ok-to-test, release-note-none, kind/misc

#7855 release: add a small script to "automate" bugfix releases
  tekton/bugfix-release.sh
Labels: approved, lgtm, size/M, release-note-none, kind/misc

#7857 [release-v0.53.x] chore(deps): Migrate to github.com/go-jose/go-jose/v3
  go.mod
  go.sum
  pkg/spire/test/ca.go
  vendor/github.com/go-jose/go-jose/v3/BUG-BOUNTY.md
  vendor/github.com/go-jose/go-jose/v3/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v3/README.md
  vendor/github.com/go-jose/go-jose/v3/SECURITY.md
  vendor/github.com/go-jose/go-jose/v3/asymmetric.go
  vendor/github.com/go-jose/go-jose/v3/crypter.go
  vendor/github.com/go-jose/go-jose/v3/cryptosigner/cryptosigner.go
  vendor/github.com/go-jose/go-jose/v3/doc.go
  vendor/github.com/go-jose/go-jose/v3/encoding.go
  vendor/github.com/go-jose/go-jose/v3/json/decode.go
  vendor/github.com/go-jose/go-jose/v3/json/encode.go
  vendor/github.com/go-jose/go-jose/v3/json/stream.go
  vendor/github.com/go-jose/go-jose/v3/jwe.go
  vendor/github.com/go-jose/go-jose/v3/jwk.go
  vendor/github.com/go-jose/go-jose/v3/jws.go
  vendor/github.com/go-jose/go-jose/v3/jwt/claims.go
  vendor/github.com/go-jose/go-jose/v3/jwt/doc.go
  vendor/github.com/go-jose/go-jose/v3/opaque.go
  vendor/github.com/go-jose/go-jose/v3/shared.go
  vendor/github.com/go-jose/go-jose/v3/signing.go
  vendor/github.com/go-jose/go-jose/v3/symmetric.go
  vendor/gopkg.in/square/go-jose.v2/jwt/builder.go
  vendor/gopkg.in/square/go-jose.v2/jwt/claims.go
  vendor/gopkg.in/square/go-jose.v2/jwt/doc.go
  vendor/gopkg.in/square/go-jose.v2/jwt/errors.go
  vendor/gopkg.in/square/go-jose.v2/jwt/jwt.go
  vendor/gopkg.in/square/go-jose.v2/jwt/validation.go
  vendor/modules.txt
Labels: approved, lgtm, size/S, release-note, kind/security

#7853 chore: fix function names in comment
  pkg/apis/pipeline/v1/resultref_test.go
  pkg/apis/pipeline/v1alpha1/run_types_test.go
  pkg/apis/pipeline/v1beta1/resultref_test.go
  pkg/apis/resolution/v1alpha1/resolution_request_conversion.go
  pkg/entrypoint/entrypointer.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
Labels: approved, lgtm, size/S, ok-to-test, release-note-none, kind/misc

#7858 [release-v0.50.x] chore(deps): Migrate to github.com/go-jose/go-jose/v3
  go.mod
  go.sum
  pkg/spire/test/ca.go
  vendor/github.com/go-jose/go-jose/v3/BUG-BOUNTY.md
  vendor/github.com/go-jose/go-jose/v3/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v3/README.md
  vendor/github.com/go-jose/go-jose/v3/SECURITY.md
  vendor/github.com/go-jose/go-jose/v3/asymmetric.go
  vendor/github.com/go-jose/go-jose/v3/crypter.go
  vendor/github.com/go-jose/go-jose/v3/cryptosigner/cryptosigner.go
  vendor/github.com/go-jose/go-jose/v3/doc.go
  vendor/github.com/go-jose/go-jose/v3/encoding.go
  vendor/github.com/go-jose/go-jose/v3/json/decode.go
  vendor/github.com/go-jose/go-jose/v3/json/encode.go
  vendor/github.com/go-jose/go-jose/v3/json/stream.go
  vendor/github.com/go-jose/go-jose/v3/jwe.go
  vendor/github.com/go-jose/go-jose/v3/jwk.go
  vendor/github.com/go-jose/go-jose/v3/jws.go
  vendor/github.com/go-jose/go-jose/v3/jwt/claims.go
  vendor/github.com/go-jose/go-jose/v3/jwt/doc.go
  vendor/github.com/go-jose/go-jose/v3/opaque.go
  vendor/github.com/go-jose/go-jose/v3/shared.go
  vendor/github.com/go-jose/go-jose/v3/signing.go
  vendor/github.com/go-jose/go-jose/v3/symmetric.go
  vendor/gopkg.in/square/go-jose.v2/jwt/builder.go
  vendor/gopkg.in/square/go-jose.v2/jwt/claims.go
  vendor/gopkg.in/square/go-jose.v2/jwt/doc.go
  vendor/gopkg.in/square/go-jose.v2/jwt/errors.go
  vendor/gopkg.in/square/go-jose.v2/jwt/jwt.go
  vendor/gopkg.in/square/go-jose.v2/jwt/validation.go
  vendor/modules.txt
Labels: approved, lgtm, size/S, release-note, kind/security

#7859 [release-v0.47.x] chore(deps): Migrate to github.com/go-jose/go-jose/v3
  go.mod
  go.sum
  pkg/spire/test/ca.go
  vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  vendor/github.com/emicklei/go-restful/v3/README.md
  vendor/github.com/emicklei/go-restful/v3/constants.go
  vendor/github.com/emicklei/go-restful/v3/request.go
  vendor/github.com/emicklei/go-restful/v3/response.go
  vendor/github.com/emicklei/go-restful/v3/route.go
  vendor/github.com/emicklei/go-restful/v3/route_builder.go
  vendor/github.com/go-jose/go-jose/v3/BUG-BOUNTY.md
  vendor/github.com/go-jose/go-jose/v3/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v3/README.md
  vendor/github.com/go-jose/go-jose/v3/SECURITY.md
  vendor/github.com/go-jose/go-jose/v3/asymmetric.go
  vendor/github.com/go-jose/go-jose/v3/crypter.go
  vendor/github.com/go-jose/go-jose/v3/cryptosigner/cryptosigner.go
  vendor/github.com/go-jose/go-jose/v3/doc.go
  vendor/github.com/go-jose/go-jose/v3/encoding.go
  vendor/github.com/go-jose/go-jose/v3/json/decode.go
  vendor/github.com/go-jose/go-jose/v3/json/encode.go
  vendor/github.com/go-jose/go-jose/v3/json/stream.go
  vendor/github.com/go-jose/go-jose/v3/jwe.go
  vendor/github.com/go-jose/go-jose/v3/jwk.go
  vendor/github.com/go-jose/go-jose/v3/jws.go
  vendor/github.com/go-jose/go-jose/v3/jwt/claims.go
  vendor/github.com/go-jose/go-jose/v3/jwt/doc.go
  vendor/github.com/go-jose/go-jose/v3/opaque.go
  vendor/github.com/go-jose/go-jose/v3/shared.go
  vendor/github.com/go-jose/go-jose/v3/signing.go
  vendor/github.com/go-jose/go-jose/v3/symmetric.go
  vendor/modules.txt
Labels: approved, lgtm, size/S, release-note, kind/security

#7864 remove ref release-pipeline-nightly.yaml
  tekton/README.md
Labels: approved, lgtm, size/XS, kind/documentation, ok-to-test, release-note-none

#7836 validate TaskRun retries in TestRunSpec is greater than or equal to zero
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
Labels: kind/bug, approved, lgtm, size/S, ok-to-test, release-note

#7860 Fix bugfix-release.sh behavior when there is nothing to release
  tekton/bugfix-release.sh
Labels: kind/bug, approved, lgtm, size/XS, release-note-none

#7359 Replace out of date publish images with cgr.dev equivalents.
  .github/dependabot.yml
  tekton/publish.yaml
Labels: approved, lgtm, size/S, release-note-none, kind/misc

#7714 kind/feat: Surface artifacts through termination message
  docs/artifacts.md
  docs/pipeline-api.md
  examples/v1/taskruns/alpha/produce-consume-artifacts.yaml
  hack/ignored-openapi-violations.list
  internal/artifactref/artifactref.go
  pkg/apis/pipeline/paths.go
  pkg/apis/pipeline/v1/artifact_types.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/artifact_types.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_validation.go
  pkg/apis/pipeline/v1beta1/task_validation_test.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/entrypoint/entrypointer.go
  pkg/entrypoint/entrypointer_test.go
  pkg/pod/status.go
  pkg/pod/status_test.go
  pkg/reconciler/taskrun/resources/apply.go
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  pkg/result/result.go
  pkg/result/result_test.go
  test/artifacts_test.go
Labels: kind/feature, approved, lgtm, size/XXL, release-note

#7786 Documenting latest release - 0.58
  releases.md
Labels: approved, lgtm, size/M, kind/documentation, release-note-none

#7874 kind/misc: add error log
  pkg/pod/status.go
Labels: approved, lgtm, size/XS, release-note-none, kind/misc

#7830 fix: stepresult intepolations does not accept multiple matches
  pkg/entrypoint/entrypointer.go
  pkg/entrypoint/entrypointer_test.go
  pkg/internal/resultref/resultref.go
Labels: kind/bug, approved, lgtm, size/M, release-note

#7679 fix imagePullBackOff doc
  docs/additional-configs.md
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Labels: approved, lgtm, size/S, kind/documentation, release-note-none

#7903 fix(docs): correct closing bracket in CEL expressions
  docs/pipelines.md
Labels: approved, lgtm, size/XS, kind/documentation, ok-to-test, release-note-none

#7844 Add a feature flag to disable inline spec
  config/config-feature-flags.yaml
  docs/additional-configs.md
  docs/pipeline-api.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipeline_types.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/taskrun_types.go
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
  pkg/apis/pipeline/v1beta1/taskrun_validation_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Labels: kind/feature, approved, lgtm, size/XL, release-note

#7911 Fix the shell in crane image
  tekton/publish.yaml
Labels: approved, lgtm, size/XS, release-note-none, kind/misc

#7776 fix: ensure default type for params in remote tasks to prevent pipeline failures
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelineref.go
  pkg/reconciler/pipelinerun/resources/pipelineref_test.go
  pkg/reconciler/taskrun/resources/taskref.go
  pkg/reconciler/taskrun/resources/taskref_test.go
  test/parse/yaml.go
Labels: kind/bug, approved, lgtm, size/M, ok-to-test, release-note

#7763 fix: do not set default kind when taskRef resolver is present
  pkg/apis/pipeline/v1/pipeline_defaults.go
  pkg/apis/pipeline/v1/pipeline_defaults_test.go
  pkg/apis/pipeline/v1/taskrun_defaults.go
  pkg/apis/pipeline/v1/taskrun_defaults_test.go
  pkg/apis/pipeline/v1beta1/pipeline_defaults.go
  pkg/apis/pipeline/v1beta1/pipeline_defaults_test.go
  pkg/apis/pipeline/v1beta1/taskref_conversion.go
  pkg/apis/pipeline/v1beta1/taskrun_defaults.go
  pkg/apis/pipeline/v1beta1/taskrun_defaults_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/pipelinespec/pipelinespec_test.go
  test/conversion_test.go
Labels: kind/bug, approved, lgtm, size/M, ok-to-test, release-note

#7912 Fix shell for tag-images step
  tekton/publish.yaml
Labels: approved, lgtm, size/XS, release-note-none, kind/misc

#7761 fix(taskrun): emit warning for missing secret in ServiceAccount instead of failing
  pkg/pod/creds_init.go
  pkg/pod/creds_init_test.go
  pkg/pod/pod.go
Labels: kind/bug, approved, lgtm, size/M, ok-to-test, release-note

#7887 fix: resolve pod creation failure on retry when using `workspace.<name>.volume`
  pkg/names/generate.go
  pkg/names/generate_test.go
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/taskrun_test.go
  pkg/workspace/apply.go
  pkg/workspace/apply_test.go
  test/taskrun_test.go
Labels: kind/bug, approved, lgtm, size/L, ok-to-test, release-note

#7917 Update releases.md for v0.59
  releases.md
Labels: approved, lgtm, size/M, kind/documentation, release-note-none
