Repository tektoncd/pipeline, pull requests merged in 2024-09, with the labels that each got.

#8228 [release-v0.62.x] Fix Artifact type to a pointer
  pkg/apis/pipeline/v1/artifact_types.go
  pkg/apis/pipeline/v1/artifact_types_test.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/pod/status.go
  pkg/pod/status_test.go
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
  test/conversion_test.go
  test/larger_results_sidecar_logs_test.go
  test/matrix_test.go
  test/propagated_params_test.go
  test/propagated_results_test.go
  test/stepaction_results_test.go
  test/upgrade_test.go
Labels: kind/bug, approved, lgtm, size/L, release-note

#8229 Update releases for new Tekton Pipeline Releases 0.63
  releases.md
Labels: approved, lgtm, size/M, kind/documentation, release-note-none

#8174 fix(e2e): stabilize TestTaskRunFailure test
  test/taskrun_test.go
Labels: kind/bug, approved, lgtm, size/S, ok-to-test, release-note-none

#8246 Make image registry regions configurable
  tekton/publish.yaml
  tekton/release-pipeline.yaml
Labels: approved, lgtm, size/XS, release-note-none, kind/misc

#8247 Add OCI source label to images
  tekton/publish.yaml
Labels: approved, lgtm, size/XS, release-note-none, kind/misc

#8251 Support separate bucket and image reg creds
  tekton/publish.yaml
  tekton/release-cheat-sheet.md
  tekton/release-pipeline.yaml
Labels: approved, lgtm, size/S, release-note-none, kind/misc

#8256 Fix the imageRegistryUser param usage in the release pipeline
  tekton/release-pipeline.yaml
Labels: approved, lgtm, size/XS, release-note-none, kind/misc

#8259 Propagate image registry regions to publish
  tekton/publish.yaml
  tekton/release-pipeline.yaml
Labels: approved, lgtm, size/S, release-note-none, kind/misc

#8260 Add KO_EXTRA_ARGS
  tekton/publish.yaml
  tekton/release-pipeline.yaml
Labels: approved, lgtm, size/S, release-note-none, kind/misc

#8261 Adapt koparse step to handle no import path
  tekton/publish.yaml
Labels: approved, lgtm, size/S, release-note-none, kind/misc

#8272 Fix isolated workspaces ignored when using StepTemplate
  pkg/apis/pipeline/v1/merge.go
  pkg/apis/pipeline/v1/merge_test.go
Labels: kind/bug, approved, lgtm, size/M, release-note

#8182 Implement set-security-context feature for affinity assistant containers
  docs/additional-configs.md
  pkg/internal/affinityassistant/affinityassistant_types.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
  pkg/pod/workingdir_init.go
  pkg/pod/workingdir_init_test.go
  pkg/reconciler/pipelinerun/affinity_assistant.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
Labels: kind/feature, approved, lgtm, size/L, ok-to-test, release-note

#8278 Use the new version of koparse in the build
  tekton/publish.yaml
Labels: approved, lgtm, size/S, release-note-none, kind/misc

#8236 fix(pipelinerun): resolve issue with PipelineRun not timing out successfully
  pkg/apis/pipeline/errors/errors.go
  pkg/reconciler/pipelinerun/cancel.go
  pkg/reconciler/pipelinerun/timeout.go
  test/timeout_test.go
Labels: kind/bug, approved, lgtm, size/L, ok-to-test, release-note

#8291 Pin setup-go action
  .github/workflows/codeql-analysis.yml
Labels: approved, lgtm, size/XS, release-note-none, kind/misc

#8287 Pin alpine image used in release pipeline
  tekton/release-pipeline.yaml
Labels: approved, lgtm, size/XS, release-note-none, kind/misc

#8294 Mark steps as deleted when TaskRun fails
  pkg/reconciler/taskrun/taskrun.go
Labels: approved, lgtm, size/XS, kind/flake, release-note-none

#8290 Simply the path for the base image
  tekton/publish.yaml
Labels: approved, lgtm, size/S, release-note-none, kind/misc

#8299 [release-v0.53.x] Mark steps as deleted when TaskRun fails
  pkg/reconciler/taskrun/taskrun.go
Labels: approved, lgtm, size/S, kind/flake, release-note-none

#8270 fix(TaskRun): fixed the issue where some step statuses might not be correctly updated in failed TaskRun
  pkg/pod/status.go
  pkg/pod/status_test.go
Labels: kind/bug, approved, lgtm, size/M, ok-to-test, release-note

#8263 Add support for multiple git resolver configurations
  docs/git-resolver.md
  pkg/remoteresolution/resolver/framework/fakeresolver.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/framework/fakeresolver.go
  pkg/resolution/resolver/framework/interface.go
  pkg/resolution/resolver/framework/reconciler.go
  pkg/resolution/resolver/git/config.go
  pkg/resolution/resolver/git/config_test.go
  pkg/resolution/resolver/git/params.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
  test/resolvers_test.go
Labels: kind/feature, approved, lgtm, size/XL, release-note
