Repository tektoncd/pipeline, pull requests merged in 2024-10, with the labels that each got.

#8275 [release-v0.59.x] Fix isolated workspaces ignored when using StepTemplate
  pkg/apis/pipeline/v1/merge.go
  pkg/apis/pipeline/v1/merge_test.go
Labels: kind/bug, approved, lgtm, size/M, release-note

#8276 [release-v0.56.x] Fix isolated workspaces ignored when using StepTemplate
  pkg/apis/pipeline/v1/merge.go
  pkg/apis/pipeline/v1/merge_test.go
Labels: kind/bug, approved, lgtm, size/M, release-note

#8311 Improve git resolver docs
  docs/git-resolver.md
Labels: approved, lgtm, size/S, kind/documentation, release-note-none

#8304 Update releases.md with v0.64.0
  releases.md
Labels: approved, lgtm, size/S, kind/documentation, release-note-none

#8302 Update the release cheat-sheet
  tekton/release-cheat-sheet.md
Labels: approved, lgtm, size/S, kind/documentation, release-note

#8332 [release-v0.62.x] Backport release "scripts" changes from main…
  tekton/publish.yaml
  tekton/release-cheat-sheet.md
  tekton/release-pipeline.yaml
Labels: approved, lgtm, size/L, release-note-none, kind/misc

#8333 [release-v0.59.x] Backport release "scripts" changes from main…
  tekton/publish.yaml
  tekton/release-cheat-sheet.md
  tekton/release-pipeline.yaml
Labels: approved, lgtm, size/L, release-note-none, kind/misc

#8334 [release-v0.56.x] Backport release "scripts" changes from main…
  tekton/README.md
  tekton/bugfix-release.sh
  tekton/publish.yaml
  tekton/release-cheat-sheet.md
  tekton/release-pipeline.yaml
Labels: approved, lgtm, size/L, release-note-none, kind/misc

#8335 [release-v0.53.x] Backport release "scripts" changes from main…
  tekton/README.md
  tekton/bugfix-release.sh
  tekton/publish.yaml
  tekton/release-cheat-sheet.md
  tekton/release-pipeline.yaml
Labels: approved, lgtm, size/L, release-note-none, kind/misc

#8323 tekton: update bugfix-release.sh script for ghcr.io
  tekton/bugfix-release.sh
Labels: approved, lgtm, size/XS, release-note-none, kind/misc

#8280 Add Metrics for Running PipelinesRuns at Pipeline and Namespace level
  config/config-observability.yaml
  docs/metrics.md
  pkg/apis/config/metrics.go
  pkg/apis/config/metrics_test.go
  pkg/apis/config/testdata/config-observability-namespacelevel.yaml
  pkg/apis/config/testdata/config-observability-throttle.yaml
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
Labels: kind/feature, approved, lgtm, size/L, ok-to-test, release-note-none

#8326 docs: fix formatting in artifacts.md
  docs/artifacts.md
Labels: approved, lgtm, size/XS, kind/documentation, ok-to-test, release-note-none
