Repository tektoncd/pipeline, pull requests merged in 2024-02, with the labels that each got.

#7589 do not allow negative requeue times
  docs/pipelineruns.md
  docs/taskruns.md
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Labels: kind/bug, approved, lgtm, size/L, release-note

#7565 Add granular termination reason in container termination message
  cmd/entrypoint/main.go
  cmd/entrypoint/waiter.go
  cmd/entrypoint/waiter_test.go
  docs/pipeline-api.md
  docs/stepactions.md
  docs/taskruns.md
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1beta1/taskrun_conversion.go
  pkg/entrypoint/entrypointer.go
  pkg/entrypoint/entrypointer_test.go
  pkg/pod/pod.go
  pkg/pod/status.go
  pkg/pod/status_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/conversion_test.go
  test/propagated_params_test.go
  test/taskrun_test.go
  test/upgrade_test.go
Labels: kind/feature, approved, lgtm, size/XL, ok-to-test, release-note

#7603 fix: prevent modification of annotations on completed TaskRuns
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Labels: kind/bug, approved, lgtm, size/L, ok-to-test, release-note

#7602 fix: ensure clustertask annotations are synced to taskrun
  pkg/reconciler/taskrun/resources/taskref.go
  pkg/reconciler/taskrun/resources/taskref_test.go
Labels: kind/bug, approved, lgtm, size/S, ok-to-test, release-note

#7651 fix(pipeline): correct warning path for duplicate param name in pipeline tasks
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Labels: kind/bug, approved, lgtm, size/M, ok-to-test, release-note

#7633 TEP-0138 New features to use Per-feature flag struct
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
Labels: approved, lgtm, size/M, release-note-none, kind/misc

#7637 The `when.cel` field in Final Task cannot parse ordinary Task status information.
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
Labels: kind/bug, approved, lgtm, size/L, ok-to-test, release-note

#7663 Patch Release v0.56.1
  releases.md
Labels: approved, lgtm, size/XS, release-note-none, kind/misc

#7665 Patch Release v0.56.1
  releases.md
Labels: approved, lgtm, size/XS, release-note-none, kind/misc

#7648 Fix typo in publish task
  tekton/publish.yaml
Labels: approved, lgtm, size/XS, release-note-none, kind/misc

#7657 Update e2e-test script for per-feature flag test
  test/e2e-tests.sh
Labels: approved, lgtm, size/XS, release-note-none, kind/misc

#7686 Isolate new env nightly feature flag test
  test/e2e-tests-kind-prow-feature-flags.env
  test/e2e-tests.sh
Labels: approved, lgtm, size/S, release-note-none, kind/misc

#7689 Fix typo in additional configs doc
  docs/additional-configs.md
Labels: approved, lgtm, size/XS, kind/documentation, release-note-none

#7687 Add release v0.57.0 to the list of releases
  releases.md
Labels: approved, lgtm, size/S, kind/documentation, release-note-none

#7662 Add feature flags recording demo for developer guide
  docs/developers/feature-versioning.md
Labels: approved, lgtm, size/XS, kind/documentation, release-note-none

#7692 Fix link to CEL in WhenExpression docs
  docs/additional-configs.md
Labels: approved, lgtm, size/XS, kind/documentation, release-note-none

#7554 docs: optimize examples for propagating results
  docs/pipelineruns.md
  examples/v1/pipelineruns/propagating_results_implicit_resultref.yaml
Labels: approved, lgtm, size/S, kind/documentation, ok-to-test, release-note-none

#7526 Bump github.com/docker/docker from 24.0.0+incompatible to 24.0.7+incompatible
  go.mod
  go.sum
  vendor/github.com/docker/cli/cli/config/configfile/file.go
  vendor/github.com/docker/cli/cli/config/credentials/file_store.go
  vendor/modules.txt
Labels: approved, lgtm, size/XS, release-note-none, kind/misc

#7701 docs: changing the variable camel cases
  docs/variables.md
Labels: approved, lgtm, size/M, kind/documentation, ok-to-test, release-note-none

#7671 feat: support for variable interpolation in workspace.* (in PipelineRun and TaskRun)
  docs/variables.md
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/taskrun/resources/apply.go
  pkg/workspace/apply.go
  pkg/workspace/apply_test.go
Labels: kind/feature, approved, lgtm, size/XL, ok-to-test, release-note
