Repository tektoncd/pipeline, pull requests merged in 2025-06, with the labels that each got.

#7744 Fix reason of PipelineRun status for PipelineRun having tasks timeout
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
  test/timeout_test.go
Labels: kind/bug, approved, lgtm, size/M, release-note

#8814 Update releases.md for 1.1.0
  releases.md
Labels: approved, lgtm, size/M, kind/documentation, release-note-none

#8778 Move `Step` Validate and ValidateError tests to `container_validation_test.go`.
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation_test.go
Labels: approved, lgtm, size/L, ok-to-test, release-note-none, kind/cleanup

#8811 fix: Avoid errors in PVC handler if PVC is already deleted
  pkg/reconciler/volumeclaim/pvchandler.go
  pkg/reconciler/volumeclaim/pvchandler_test.go
Labels: kind/bug, approved, lgtm, size/S, ok-to-test, release-note

#8769 Move `Step` artifacts flag tests to `container_validation_test.go`.
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation_test.go
Labels: approved, lgtm, size/L, release-note-none, kind/cleanup

#8772 Move `Step` ref tests to `container_validation_test.go`.
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation_test.go
Labels: approved, lgtm, size/L, ok-to-test, release-note-none, kind/cleanup

#8850 [TEP-0056]: Extract common status helper functions from `pipelinerun_test.go`.
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/testing/status.go
  test/conformance/conformance_test.go
  test/parse/yaml.go
  test/util.go
Labels: approved, lgtm, size/XL, release-note-none, kind/cleanup
